original_wsdls/CCD.Source.GetDocument.Secure.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetDocumentSecure" targetNamespace="http://reeks.bcgov/CCD.Source.GetDocument.ws:CCD.Source.GetDocument.ws:GetDocumentSecure" xmlns:tns1="http://reeks.bcgov/CCD.Source.GetDocument.ws:CCD.Source.GetDocument.ws:GetDocumentSecure" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reeks.bcgov/CCD.Source.GetDocument.ws:GetDocumentSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://reeks.bcgov/CCD.Source.GetDocument.ws:CCD.Source.GetDocument.ws:GetDocumentSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://reeks.bcgov/CCD.Source.GetDocument.ws:CCD.Source.GetDocument.ws:GetDocumentSecure">
          <xsd:element name="getDocumentSecure" type="tns:getDocumentSecure"/>
          <xsd:element name="getDocumentSecureResponse" type="tns:getDocumentSecureResponse"/>
          <xsd:complexType name="getDocumentSecure">
            <xsd:sequence>
              <xsd:element name="DocumentSecureRequest" nillable="true" type="tns:DocumentSecureRequest"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DocumentSecureRequest">
            <xsd:sequence>
              <xsd:element name="RequestAgencyIdentifierId" nillable="true" type="xsd:string"/>
              <xsd:element name="RequestPartId" nillable="true" type="xsd:string"/>
              <xsd:element name="RequestDtm" nillable="true" type="xsd:string"/>
              <xsd:element name="ApplicationCd" nillable="true" type="xsd:string"/>
              <xsd:element name="DocumentId" type="xsd:string"/>
              <xsd:element name="CourtDivisionCd" type="xsd:string"/>
              <xsd:element name="PhysicalFileId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="MdocJustinNo" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getDocumentSecureResponse">
            <xsd:sequence>
              <xsd:element name="DocumentResponse" nillable="true" type="tns:DocumentResult"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DocumentResult">
            <xsd:sequence>
              <xsd:element name="B64Content" nillable="true" type="xsd:string"/>
              <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
              <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDocumentSecure_PortType_getDocumentSecureResponse">
    <wsdl:part name="parameters" element="tns1:getDocumentSecureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDocumentSecure_PortType_getDocumentSecure">
    <wsdl:part name="parameters" element="tns1:getDocumentSecure">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetDocumentSecure_PortType">
    <wsdl:operation name="getDocumentSecure">
      <wsdl:input message="tns1:GetDocumentSecure_PortType_getDocumentSecure">
    </wsdl:input>
      <wsdl:output message="tns1:GetDocumentSecure_PortType_getDocumentSecureResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCD_Source_GetDocument_ws_GetDocumentSecure_Binder" type="tns1:GetDocumentSecure_PortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDocumentSecure">
      <soap12:operation soapAction="CCD_Source_GetDocument_ws_GetDocumentSecure_Binder_getDocumentSecure" style="document"/>
      <wsdl:input>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDocumentSecure">
    <wsdl:port name="CCD_Source_GetDocument_ws_GetDocumentSecure_Port" binding="tns1:CCD_Source_GetDocument_ws_GetDocumentSecure_Binder">
      <soap12:address location="http://reeks.bcgov:5555/ws/CCD.Source.GetDocument.ws:GetDocumentSecure/CCD_Source_GetDocument_ws_GetDocumentSecure_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
