original_wsdls/CCD.Source.GetDocument.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetDocument" targetNamespace="http://courts.gov.bc.ca/CCD.Source.GetDocument.ws:GetDocument" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://courts.gov.bc.ca/CCD.Source.GetDocument.ws:GetDocument" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://courts.gov.bc.ca/CCD.Source.GetDocument.ws:GetDocument" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://courts.gov.bc.ca/CCD.Source.GetDocument.ws:GetDocument">
          <xsd:complexType name="getDocument">
            <xsd:sequence>
              <xsd:element name="DocumentRequest" type="tns:Document"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="Document">
            <xsd:sequence>
              <xsd:element name="DocumentId" type="xsd:string"/>
              <xsd:element name="CourtDivisionCd" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="getDocumentResponse">
            <xsd:sequence>
              <xsd:element name="DocumentResponse" nillable="true" type="tns:DocumentResult"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="DocumentResult">
            <xsd:sequence>
              <xsd:element name="B64Content" nillable="true" type="xsd:string"/>
              <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
              <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        			<xsd:element name="getDocument" type="tns:getDocument"/>
			<xsd:element name="getDocumentResponse" type="tns:getDocumentResponse"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDocument_PortType_getDocument">
    <wsdl:part name="parameters" element="tns:getDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDocument_PortType_getDocumentResponse">
    <wsdl:part name="parameters" element="tns:getDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetDocument_PortType">
    <wsdl:operation name="getDocument">
      <wsdl:input message="tns:GetDocument_PortType_getDocument">
    </wsdl:input>
      <wsdl:output message="tns:GetDocument_PortType_getDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCD_Source_GetDocument_ws_GetDocument_Binder" type="tns:GetDocument_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDocument">
      <soap:operation soapAction="CCD_Source_GetDocument_ws_GetDocument_Binder_getDocument" style="document"/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDocument">
    <wsdl:port name="CCD_Source_GetDocument_ws_GetDocument_Port" binding="tns:CCD_Source_GetDocument_ws_GetDocument_Binder">
      <soap:address location="http://reeks.bcgov:5555/ws/CCD.Source.GetDocument.ws:GetDocument/CCD_Source_GetDocument_ws_GetDocument_Port"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
